:root {
    /* Colors */
    --color-gray-9: #292929;
    --color-gray-8: #333333;
    --color-gray-7: #4d4d4d;
    --color-gray-6: #666666;
    --color-gray-5: #808080;
    --color-gray-4: #666666;
    --color-gray-3: #999999;
    --color-gray-2: #b3b3b3;
    --color-gray-1: #cccccc;
    --color-gray-0: #e6e6e6;
    --color-gray-05: #f2f2f2;
    --color-gray-02: #fcfcfc;

    --color-black: #0c0e1d;
    --color-white: #fff;

    --color-gray-primary-1: #7facc7;
    --color-gray-primary-2: #6d8f9a;
    --color-gray-primary-3: #4b5c62;
    --color-gray-primary-4: #4b5c62;
    --color-gray-primary-5: #3a4346;

    --color-primary-80: #133853;
    --color-primary-70: #1c557d;
    --color-primary: #2c82bf;
    --color-primary-05: #dbf0ff;
    --color-primary-10: #d5e8f6;
    --color-primary-25: #97c6e7;
    --color-primary-40: #59a4d9;

    --color-primary-light-30: #70bef5;
    --color-primary-light: #2d9ff0;
    --color-primary-light-70: #0a588f;

    --color-primary-dark-40: #63a2cf;
    --color-primary-dark: #2b648d;
    --color-primary-dark-80: #18384e;

    /* Gaps */
    --gap-large: 4rem;
    --gap-medium: 3rem;
    --gap-small: 2rem;
    --gap-smaller: 1rem;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-black);
    background-color: var(--color-gray-02);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

a {
    color: var(--color-primary-80);
    text-decoration: none;
}

a:hover {
    color: var(--color-primary-light);
    text-decoration: none;
}

/* Content / Container */
.menu-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-gray-02);
}

.grow {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
}

.container {
    background-color: var(--color-gray-02);
}

.content {
    max-width: 120rem;
    margin: 0 3rem;
}

.container-title {
    background-color: var(--color-primary-10);
}

/* Header */
.header-container {
    background-color: var(--color-gray-9);
    height: fit-content;
    position: relative;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.header-content {
    padding: var(--gap-smaller);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-content a,
.header-content a h2 {
    color: var(--color-white);
    margin: 0 auto;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {
    width: 5rem;
    height: 5rem;
    margin-right: var(--gap-smaller);
}

/* Card */
.menu-calculator-container {
    flex: 1;
}

.menu-calculator-container-menu {
    flex: 1;
    min-height: 100%;
}

.menu-calculator-content {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.grid-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: var(--gap-medium);
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: var(--gap-large) auto;
    padding: 0 var(--gap-small);
}

.card {
    width: 25rem;
    height: 20rem;
    border-radius: 5rem;
    background: #e0e0e0;
    box-shadow:
        2rem 2rem 6rem #bebebe,
        -2rem -2rem 6rem #ffffff;
    transition: all 300ms ease-in-out;
}

.card-content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
}

.img-a,
.img-b {
    transform: scale(0.5);
    margin: 0;
}

.img-a {
    translate: 0.9rem 6rem;
    clip-path: polygon(59% 0, 100% 0, 100% 100%, 0 100%);
}

.img-b {
    translate: -0.9rem -5rem;
    clip-path: polygon(0 0, 100% 0, 41% 100%, 0 100%);
}

.card-content span {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card-content span img {
    transition: all 0.3s ease-in-out;
}

.card:hover .card-content span img {
    transform: scale(0.6);
    clip-path: none;
}

.card:hover .card-content span .img-a {
    translate: 3rem 7rem;
}

.card:hover .card-content span .img-b {
    translate: -3rem -7rem;
}

.card-content span p {
    translate: 0 -5rem;
}

.card-content img {
    width: 10rem;
}

.card-content p {
    font-size: 2rem;
    margin: var(--gap-smaller) auto 0 auto;
    color: var(--color-gray-9);
}

.card:hover {
    transform: scale(1.1);
    filter: brightness(1.08);
    cursor: pointer;
}

/* Content */
.calculator-content {
    min-height: 84vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content-title-container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 var(--gap-smaller);
}

.content-title {
    display: flex;
    align-items: center;
}

.content-title .img-a,
.content-title .img-b {
    transform: scale(1);
    margin: 0;
}

.content-title .img-a {
    translate: -1.5rem 1rem;
}

.content-title .img-b {
    translate: 1.5rem -1rem;
}

.content-title img {
    width: 5rem;
    height: 5rem;
    margin-right: var(--gap-small);
}

.content-subtitle,
.content-tips {
    color: var(--color-gray-8);
}

.calculator-space-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--gap-large) 0;
}

.margin-top-none {
    margin-top: 0;
}

.calculator-space-content {
    width: 90%;
    max-width: 100rem;
    background-color: var(--color-primary-10);
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.grid-calculator,
.grid-calculator-pair {
    display: grid;
    gap: var(--gap-smaller);
    align-items: center;
    justify-items: center;
    padding: var(--gap-medium) 0;
}

.grid-calculator {
    grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
}

.grid-calculator-pair {
    grid-template-columns: repeat(auto-fit, minmax(41rem, 1fr));
}

.grid-calculator-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

.grid-calculator-content a {
    position: absolute;
    margin: 6.5rem 2.2rem;
    font-size: 1.2rem;
}

/* Inputs */
.input-group-select {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 var(--gap-small);
    width: 100%;
    position: relative;
}

body input:valid ~ label {
    padding: 0;
    background-color: transparent;
}

.calculator-select {
    position: absolute;
    height: 4rem;
    width: 20%;
    border: solid 1.5px var(--color-primary-70);
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    background: var(--color-white);
    color: var(--color-black);
}

.calculator-select:hover,
.calculator-select-x {
    cursor: pointer;
}

.calculator-select:focus {
    background-color: var(--color-primary-40);
    outline: none;
    cursor: pointer;
}

.calculator-select-x {
    position: relative;
    top: -2.5rem;
    border: solid 1.5px var(--color-primary-70);
}

.input-group-select p {
    position: relative;
    top: -1rem;
    color: var(--color-gray-8);
}

.input-group,
.input-group-min {
    position: relative;
    margin: var(--gap-small) auto;
}

.input-group-min {
    width: 87%;
    left: -3%;
}

.input-group {
    width: 100%;
    margin-left: var(--gap-small);
    margin-right: var(--gap-small);
}

.input,
.input-min,
.calculator-select-x {
    background: var(--color-white);
    padding: 1rem;
    max-height: 4rem;
    font-size: 1.6rem;
    color: var(--color-black);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
    border: solid 1.5px #9e9e9e;
}

.input-min {
    border: solid 1.5px #9e9e9e;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    width: 87%;
}

.input,
.calculator-select-x {
    border-radius: 0.7rem;
    width: 100%;
}

.grid-calculator .calculator-select {
    width: 30%;
}

.grid-calculator .input-group-min {
    width: 80%;
    left: -4%;
}

.grid-calculator .input-min {
    width: 80%;
}

.grid-calculator .input-group {
    width: 100%;
}

.grid-calculator .input {
    width: 100%;
}

.user-label {
    position: absolute;
    left: 1rem;
    color: var(--color-gray-6);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:disabled,
.input-min:disabled,
.user-label:disabled,
.calculator-select-x:disabled,
.calculator-select:disabled {
    background-color: var(--color-gray-1);
    color: var(--color-gray-3);
    border-color: var(--color-gray-3);
    cursor: not-allowed;
}

.input:focus,
.input-min:focus,
input:valid {
    outline: none;
    border: 1.5px solid var(--color-primary-70);
}

.input:focus ~ label,
.input-min:focus ~ label,
input:valid ~ label {
    transform: translateY(-60%);
    padding: 0 0.2em;
    color: var(--color-primary-70);
    background: linear-gradient(
        180deg,
        rgba(213, 232, 246, 1) 20%,
        rgba(255, 255, 255, 1) 100%
    );
}

/* Advanced calculate */
.calculator-advanced-container {
    padding: var(--gap-small);
}

.calculator-advanced-content h4 {
    margin: 0;
    width: fit-content;
    color: var(--color-primary);
}

.calculator-advanced-content h4:hover {
    cursor: pointer;
    color: var(--color-gray-8);
}

.calculator-advanced-content hr {
    color: var(--color-primary);
}

/* Buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin: var(--gap-small) auto;
    flex-wrap: wrap;
}

.button-primary,
.button-clean,
.button-clean-historic {
    border: none;
    font-size: 2rem;
    padding: 1rem 4rem;
    border-radius: 1rem;
    width: 20rem;
    margin: var(--gap-smaller) var(--gap-medium);
    margin-top: 0;
    transition: all 300ms ease-in-out;
}

.button-primary {
    background-color: var(--color-primary-70);
    color: var(--color-white);
}

.button-primary:hover {
    background-color: var(--color-primary-80);
    cursor: pointer;
}

.button-clean,
.button-clean-historic {
    background-color: var(--color-gray-7);
    color: var(--color-white);
}

.button-clean:hover,
.button-clean-historic:hover {
    background-color: var(--color-gray-9);
    cursor: pointer;
}

/* Indicators */
.indicator-container {
    background-color: var(--color-gray-8);
}

.display-flex-column,
.display-flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-flex-column {
    flex-direction: column;
}

.display-flex-row {
    flex-direction: row;
    padding: var(--gap-smaller) 0;
}

.indicator-datas {
    margin: 0 auto;
    padding: 0 var(--gap-smaller);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 15rem;
    justify-content: center;
    align-items: center;
}

.border-left {
    border-left: 2px solid var(--color-white);
}

.indicator-datas .indicator-numbers {
    margin-left: var(--gap-smaller);
    text-align: center;
    justify-items: center;
    font-size: 1.4rem;
}

.indicator-datas .indicator-numbers,
.indicator-datas .indicator-title {
    margin: 0 auto;
}

.indicator-datas .indicator-title {
    font-size: 1.4rem;
    font-weight: bold;
}

/* Results */
.grid-result-title {
    margin-left: 2rem;
    color: var(--color-primary);
}

.result-container {
    border: 1px dashed var(--color-primary-light-70);
    width: 30rem;
    background-color: var(--color-gray-02);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.result-title {
    margin: 2rem auto 1rem auto;
    color: var(--color-gray-4);
    text-align: center;
}

.result-value-0,
.result-value-1,
.result-value-2,
.result-value-3,
.result-value-4 {
    margin: 0 auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.result-value-0 span,
.result-value-1 span,
.result-value-2 span,
.result-value-3 span,
.result-value-4 span {
    margin-left: var(--gap-smaller);
}

.result-container.grid2 {
    grid-column: span 2;
    width: 64rem;
}

.result-value-2 {
    color: var(--color-primary-light);
}

.result-value-1 {
    color: var(--color-primary-dark);
}

.result-value-3,
.result-value-4.cash {
    color: rgb(151, 3, 3);
}

.result-value-2.cash,
.result-value-0.cash {
    color: var(--color-primary-light);
}

.result-value-1.cash,
.result-value-3.cash {
    color: var(--color-primary-dark);
}

/* Footer */
.footer-container {
    background-color: var(--color-gray-9);
    width: 100%;
    position: relative;
    z-index: 1;
}


.footer-content {
    padding: var(--gap-smaller);
    color: var(--color-white);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-content a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: all 300ms ease-in-out;
}

.footer-title,
.footer-subtitle {
    width: max-content;
    margin: 0;
}

.footer-subtitle {
    padding-bottom: var(--gap-smaller);
}

.footer-content a:hover {
    text-shadow:
        2rem 2rem 6rem #bebebe,
        -2rem -2rem 6rem #ffffff;
}

/* Utils JS */
.hidden.yes,
.hidden-advanced-div.yes,
.hidden-advanced-hr.yes {
    display: none;
}

.error {
    border: 2px solid red;
}

.error-title,
.error ~ label,
.error:valid ~ label,
.error:focus ~ label {
    color: red;
    border-color: red;
}

/* glass effect for historic */
.historic-container {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    backdrop-filter: blur(5px);
    padding: var(--gap-small);
}

.historic-content-table {
    max-height: 100vh;
    max-width: 120rem;
    background-color: rgba(255,255,255,0.7);
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    overflow-x: auto;
}

.close-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-content p {
    margin: auto;
    font-weight: bold;
    width: 100%;
    text-align: center;
    padding-left: 5.5rem;
}

.close-icon {
    color: var(--color-primary);
    border-radius: 2rem;
    font-size: 3.5rem;
    transition: all 300ms ease-in-out;
    margin: var(--gap-smaller) var(--gap-smaller) var(--gap-smaller) 0;
}

.close-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.historic-table-container {
    margin: var(--gap-smaller);
    overflow: auto;
    width: 100%;
}

.clear-historic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.historic-container.hidden {
    display: none;
}

.no-table-data{
    margin: auto;
    text-align: center;
    padding: var(--gap-large) var(--gap-smaller);
    font-size: 2rem;
    color: var(--color-gray-5);
}

.historic-table{
    border-collapse: collapse;
    margin: var(--gap-small) 0;
    font-size: 1.2rem;
    min-width: 100%;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
    background-color: var(--color-white);
}

.historic-table th{
    background-color: var(--color-primary);
    color: var(--color-white);
    text-align: left;
    font-weight: bold;
}

.historic-table :where(th, td){
    padding: var(--gap-smaller) var(--gap-small);
    white-space: nowrap;

}

.historic-table tr{
    border-bottom: 1px solid var(--color-gray-1);
}

.historic-table tr:nth-of-type(even){
    background-color: var(--color-gray-05);
}

.historic-table tr:last-of-type{
    border-bottom: 2px solid var(--color-primary);
}

.historic-table tr:hover{
    color: var(--color-primary);
    font-weight: bold;
}


/* menu */
.menu {
    display: none;
    position: fixed;
    background: var(--color-gray-9);
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0rem 0rem 1rem 0rem black;
}

.menucontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap-small);
}

.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.menu h1 {
    font-size: 2.3rem;
    margin-top: calc(var(--gap-large) * 1.5);
    color: var(--color-white);
}

.menucontent h1 a span {
    margin: 0 auto var(--gap-smaller) auto;
}

.menu h1 a {
    color: inherit;
}

.menu ul li a {
    display: flex;
    justify-content: flex-end;
    padding: 2rem 1rem;
    font-size: 1.6rem;
    color: var(--color-white);
    font-weight: 600;
    position: relative;
}

.menu ul li a img {
    height: 2rem;
    width: 2rem;
    margin-right: var(--gap-smaller);
}

.menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 1.3rem;
    right: 1rem;
    width: 0;
    height: 0.2rem;
    background-color: var(--color-primary);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    right: 1rem;
}

.menucontent ul {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.closemenulabel::after {
    content: "☰";
    position: fixed;
    z-index: 3;
    top: 1.5rem;
    right: 2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 0.1rem solid var(--color-white);
    font-size: 2.5rem;
    line-height: 3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.closemenulabel:hover::after {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 0.1rem solid var(--color-primary);
    transition: all 300ms ease-in-out;
}

.closemenu:checked ~ .menu {
    display: block;
}

.closemenu:checked ~ .closemenulabel::after {
    content: "✕";
}

.menuspace {
    min-height: 6rem;
}

.closemenu {
    display: none;
}

@media (max-width: 1100px) {
    .grid-card {
        grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
    }

    .result-container {
        width: 25rem;
    }

    .result-container.grid2 {
        width: 58rem;
    }

    .result-container h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 1000px) {
    .grid-calculator {
        grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    }

    .grid-calculator .calculator-select {
        width: 18%;
    }

    .grid-calculator .input-group-min {
        width: 88.5%;
        left: -3%;
    }

    .grid-calculator .input-min {
        width: 88.5%;
    }

    .result-container {
        width: 90%;
        margin: 0 auto;
    }

    .result-container.grid2 {
        grid-column: span 1;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 750px) {
    .grid-calculator {
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    }

    .grid-card {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }

    .display-flex-column {
        justify-content: flex-start;
        align-items: normal;
        overflow-x: auto;
        max-width: 100vw;
    }

    .display-flex-row {
        justify-content: flex-start;
        align-items: normal;
    }
}

@media (max-width: 500px) {
    .grid-card {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        column-gap: var(--gap-smaller);
        row-gap: var(--gap-small);
    }

    .card {
        width: 15rem;
        height: 15rem;
        box-shadow:
            1rem 1rem 2rem #bebebe,
            -1rem -1rem 2rem #ffffff;
        transition: all 300ms ease-in-out;
    }

    .card-content img {
        width: 5rem;
        height: 5rem;
    }

    .card-content p {
        font-size: 1.4rem;
        padding: 0 var(--gap-smaller);
        text-align: center;
    }

    .card-content span {
        flex-wrap: wrap;
    }

    .card-content span p {
        translate: 0 -2.5rem;
        padding: 0 var(--gap-smaller);
        text-align: center;
    }

    .img-a,
    .img-b {
        transform: scale(0.7);
        margin: 0;
    }

    .img-a {
        translate: 0.9rem 2.8rem;
        clip-path: polygon(59% 0, 100% 0, 100% 100%, 0 100%);
    }

    .img-b {
        translate: -0.9rem -2.8rem;
        clip-path: polygon(0 0, 100% 0, 41% 100%, 0 100%);
    }

    .card:hover .card-content span img {
        transform: scale(0.9);
        clip-path: none;
    }

    .card:hover .card-content span .img-a {
        translate: 2.5rem 4.2rem;
    }

    .card:hover .card-content span .img-b {
        translate: -2.5rem -4.2rem;
    }

    .grid-calculator-pair,
    .grid-calculator {
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    }

    .grid-calculator .calculator-select,
    .calculator-select {
        width: 30%;
    }

    .grid-calculator .input-group-min,
    .input-group-min {
        width: 80%;
        left: -4%;
    }

    .grid-calculator .input-min,
    .input-min {
        width: 80%;
    }

    .button-primary,
    .button-clean,
    .button-clean-historic {
        width: 100%;
        margin: var(--gap-medium) var(--gap-small);
        margin-top: 0;
    }

    .indicator-datas .indicator-numbers {
        font-size: 1rem;
    }

    .indicator-datas .indicator-title {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .user-label {
        left: 0.5rem;
        font-size: 1.4rem;
    }
}

@media (max-width: 300px) {
    .content-title {
        font-size: 2.2rem;
    }
}

@media (max-height: 540px) {
    .menucontent nav {
        overflow-y: auto;
    }
}

@media (min-height: 850px) {
    .menu-calculator-container {
        min-height: 90vh;
    }
}

@media (min-height: 1300px) {
    .menu-calculator-container {
        min-height: 95vh;
    }
}

@media (min-height: 2500px) {
    .menu-calculator-container {
        min-height: 98vh;
    }
}


