:root {
    /* Colors */
    --color-gray-9: #292929;
    --color-gray-8: #333333;
    --color-gray-7: #4d4d4d;
    --color-gray-6: #666666;
    --color-gray-5: #808080;
    --color-gray-4: #666666;
    --color-gray-3: #999999;
    --color-gray-2: #b3b3b3;
    --color-gray-1: #cccccc;
    --color-gray-0: #e6e6e6;
    --color-gray-05: #f2f2f2;
    --color-gray-02: #fcfcfc;

    --color-black: #0c0e1d;
    --color-white: #fff;

    --color-gray-primary-1: #7facc7;
    --color-gray-primary-2: #6d8f9a;
    --color-gray-primary-3: #4b5c62;
    --color-gray-primary-4: #4b5c62;
    --color-gray-primary-5: #3a4346;

    --color-primary-80: #133853;
    --color-primary-70: #1c557d;
    --color-primary: #2c82bf;
    --color-primary-05: #DBF0FF;
    --color-primary-10: #d5e8f6;
    --color-primary-25: #97c6e7;
    --color-primary-40: #59a4d9;

    --color-primary-light-30: #70bef5;
    --color-primary-light: #2d9ff0;
    --color-primary-light-70: #0a588f;

    --color-primary-dark-40: #63a2cf;
    --color-primary-dark: #2b648d;
    --color-primary-dark-80: #18384e;

    /* Gaps */
    --gap-large: 4rem;
    --gap-medium: 3rem;
    --gap-small: 2rem;
    --gap-smaller: 1rem;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

a {
    color: var(--color-primary-light);
    text-decoration: none;
}

a:hover {
    color: var(--color-gray-7);
    text-decoration: none;
}

/* Content / Container */
.grow{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.container {
    background-color: var(--color-gray-02);
}

.content {
    max-width: 120rem;
    margin: 0 3rem;
}

.container-title{
    background-color: var(--color-primary-10);
}

/* Header */
.header-container {
    background-color: var(--color-gray-9);
    height: fit-content;
    position: relative;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.header-content {
    padding: var(--gap-smaller);
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.header-content a,
.header-content a h2 {
    color: var(--color-white);
    margin: 0 auto;
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icon {
    width: 5rem;
    margin-right: var(--gap-smaller);
}

/* Card */
.menu-calculator-container{
    flex: 1;
    min-height: 100vh;
}

.menu-calculator-content {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.grid-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: var(--gap-medium);
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: var(--gap-large) auto;
}

.card {
    width: 25rem;
    height: 20rem;
    border-radius: 5rem;
    background: #e0e0e0;
    box-shadow: 2rem 2rem 6rem #bebebe, -2rem -2rem 6rem #ffffff;
    transition: all 300ms ease-in-out;
}

.card-content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
}

.img-a,
.img-b {
    transform: scale(0.5);
    margin: 0;
}

.img-a {
    translate: 0.9rem 6rem;
    clip-path: polygon(59% 0, 100% 0, 100% 100%, 0 100%);
}

.img-b {
    translate: -0.9rem -5rem;
    clip-path: polygon(0 0, 100% 0, 41% 100%, 0 100%);
}

.card-content span {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card-content span img {
    transition: all 0.3s ease-in-out;
}

.card:hover .card-content span img {
    transform: scale(0.6);
    clip-path: none;
}

.card:hover .card-content span .img-a {
    translate: 3rem 7rem;
}

.card:hover .card-content span .img-b {
    translate: -3rem -7rem;
}

.card-content span p {
    translate: 0 -5rem;
}

.card-content img {
    width: 10rem;
}

.card-content p {
    font-size: 2rem;
    margin: var(--gap-smaller) auto 0 auto;
    color: var(--color-primary);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.1);
    filter: brightness(1.08);
    cursor: pointer;
}

/* Content */
.calculator-content {
    min-height: 85vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.content-title-container{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 var(--gap-smaller);
}

.content-title{
    display: flex;
    align-items: center;
}

.content-title img{
    width: 5rem;
    margin-right: var(--gap-small);
}

.content-subtitle,
.content-tips {
    color: var(--color-gray-7);
}

.calculator-space-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--gap-large);
}

.calculator-space-content{
    border: 1px solid var(--color-gray-3);
    min-width: 100rem;
}

/* Footer */
.footer-container {
    background-color: var(--color-gray-9);
    width: 100%;
}

.footer-content {
    padding: var(--gap-smaller);
    color: var(--color-white);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-content a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    transition: all 300ms ease-in-out;
}

.footer-title,
.footer-subtitle {
    width: max-content;
    margin: 0;
}

.footer-subtitle {
    padding-bottom: var(--gap-smaller);
}

.footer-content a:hover {
    text-shadow: 2rem 2rem 6rem #bebebe, -2rem -2rem 6rem #ffffff;
}
