:root {
    /* Colors */
    --color-gray-9: #292929;
    --color-gray-8: #333333;
    --color-gray-7: #4d4d4d;
    --color-gray-6: #666666;
    --color-gray-5: #808080;
    --color-gray-4: #666666;
    --color-gray-3: #999999;
    --color-gray-2: #b3b3b3;
    --color-gray-1: #cccccc;
    --color-gray-0: #e6e6e6;
    --color-gray-05: #f2f2f2;
    --color-gray-02: #fcfcfc;

    --color-black: #0c0e1d;
    --color-white: #fff;

    --color-gray-primary-1: #7facc7;
    --color-gray-primary-2: #6d8f9a;
    --color-gray-primary-3: #4b5c62;
    --color-gray-primary-4: #4b5c62;
    --color-gray-primary-5: #3a4346;

    --color-primary-80: #133853;
    --color-primary-70: #1c557d;
    --color-primary: #2c82bf;
    --color-primary-10: #d5e8f6;
    --color-primary-25: #97c6e7;
    --color-primary-40: #59a4d9;

    --color-primary-light-30: #70bef5;
    --color-primary-light: #2d9ff0;
    --color-primary-light-70: #0a588f;

    --color-primary-dark-40: #63a2cf;
    --color-primary-dark: #2b648d;
    --color-primary-dark-80: #18384e;

    /* Gaps */
    --gap-large: 4rem;
    --gap-medium: 3rem;
    --gap-small: 2rem;
    --gap-smaller: 1rem;
}

/* Content / Container */
.container {
    background-color: var(--color-gray-02);
}

.content {
    max-width: 144rem;
    margin: 0 3rem;
}

.menu-calculator-content {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Header */
.header-container{
    background-color: var(--color-gray-9);
}

.header-content{
    padding: var(--gap-small);
    display: flex;
    align-items: center;
}

.header-content h2{
    color: var(--color-white);
    margin: 0 auto;
}

/* Card */
.grid-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: var(--gap-medium);
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.card {
    width: 20rem;
    height: 20rem;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    transition: all 300ms ease-in-out;
}

.card-content {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
}

.img-a, .img-b{
    transform: scale(0.5);
    margin: 0;    
}

.img-a{
    translate: 0.9rem 6rem;
    clip-path: polygon(59% 0, 100% 0, 100% 100%, 0 100%);
}

.img-b{
    translate: -.9rem -5rem;
    clip-path: polygon(0 0, 100% 0, 41% 100%, 0 100%);
}

.card-content span{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card-content span img {
    transition: all 0.3s ease-in-out;
}

.card:hover .card-content span img {
    transform: scale(0.6);
    clip-path: none; 
}

.card:hover .card-content span .img-a {
    translate: 3rem 7rem;
}

.card:hover .card-content span .img-b {
    translate: -3rem -7rem; 
}



.card-content span p{
    translate: 0 -5rem;
}

.card-content img {
    width: 10rem;
}

.card-content p {
    font-size: 2rem;
    margin: var(--gap-smaller) auto 0 auto;
    color: var(--color-primary);
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.1);
    filter: brightness(1.08);
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    cursor: pointer;
}

/* Footer */
.footer-container {
    background-color: var(--color-gray-9);
}

.footer-content {
    padding: var(--gap-small) 0;
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-content a {
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    transition: all 300ms ease-in-out;
}

.footer-title,
.footer-subtitle {
    width: max-content;
    margin: 0;
}

.footer-subtitle {
    padding-bottom: var(--gap-smaller);
}

.footer-content a:hover {
    text-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
